@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
}

.hero-area {
    background: url("../assets/banner.png");
    background-size: cover;
    background-position: center;
    background-repeat: none;
    height: 90vh;
}

.hero-container {
    width: 90vw;
    height: 95vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
}

.text-area {
    width: 36vw;
    text-align: right;
    color: white;
}

.text-area h1 {
    font-size: 60px;
    font-weight: 700;
    text-transform: capitalize;
}

.text-area p {
    line-height: 25px;
}

.pb-5 {
    padding-bottom: 25px;
}

.btn {
    padding: 15px 32px;
    background-color: tomato;
    font-size: 20px;
    color: azure;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    transition: background-color 0.5s ease;
}

.btn:hover {
    background-color: orangered;
    cursor: pointer;
}

.about-container {
    width: 80vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.about-image {
    width: 100%;
    height: auto;
}

.mt-1 {
    margin-top: 15px;
}

.mt-2 {
    margin-top: 25px;
}

.mt-3 {
    margin-top: 40px;
}

.mt-4 {
    margin-top: 70px;
}

.mt-5 {
    margin-top: 100px;
}

.mt-6 {
    margin-top: 200px;
}

.mb-4 {
    margin-bottom: 70px;
}

.about-text {
    text-align: left;
    width: 60vw;
    padding: 0px 25px;
}

.heading-two {
    font-size: 40px;
    font-weight: 600;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding-bottom: 8px;
}

ul li::before {
    content: "\2713";
    color: #008000;
    margin-right: 10px;
}

.plan-container {
    width: 80vw;
    margin: 0 auto;
}

.plan-container h2 {
    text-align: center;
}

.elements {
    display: flex;
    justify-content: space-around;
}

.elem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.elem h3 {
    padding: 20px 0 8px;
    font-size: 25px;
}

.sub-container {
    width: 70vw;
    margin: 0 auto;
}

.subscribe {
    height: 50vh;
    background-image: linear-gradient(
            90deg,
            rgba(0, 95, 172, 0.9),
            rgba(255, 255, 255, 0.3)
        ),
        url("../assets/watch.png");
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 50px;
}

.subscribe h2 {
    font-size: 45px;
}

.btn-secondary {
    background: white;
    color: #005fac;
    font-weight: 700;
}

.btn-secondary:hover {
    background: darkcyan;
    color: white;
}

footer {
    width: 100vw;
    background-color: #151414;
    color: white;
}

.footer-container {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-text {
    width: 35vw;
    text-align: left;
}

.footer-social a {
    padding-right: 15px;
}

.footer-subscribe h3 {
    font-size: 22px;
    font-weight: 500;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

form input {
    padding: 12px 55px 12px 15px;
    background: #151414;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
}

.btn-alternative {
    padding: 12px 25px;
    background-color: #005fac;
    font-size: 16px;
    font-weight: 400;
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    transition: background-color 0.5s ease;
}

.btn-alternative:hover {
    cursor: pointer;
    background-color: darkcyan;
}
